@import url("https://fonts.googleapis.com/css2?family=Combo&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  height: 100vh;
}

img {
  width: 100%;
  height: 100%;
}

.container {
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
  position: absolute;
  position: fixed;
}

.container-appear {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-reservation-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.961);
  color: black;
  padding: 1vh;
  border: 2px solid rgb(0, 0, 0);
  position: relative;
  position: absolute;
  position: fixed;
  width: 90%;
  height: 90vh;
  margin: 1vh;
  overflow-y: scroll;
}

.reservation-page-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 94%;
  width: 5vh;
  height: 5vh;
  cursor: pointer;
  position: absolute;
}

.popup-reservation-img-div {
  width: 50vh;
  height: 30vh;
}

.name-inst-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.area-category-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

p {
  font-size: 15px;
  width: 70vh;
}

.reservations-conatainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservations-div {
  height: 11vh;
  overflow-y: scroll;
  border: 1px solid rgb(2, 2, 2);
  padding: 0 0 0 10px;
}

.popup-reservation-container form {
  display: flex;
  flex-direction: column;
  width: 40vh;
  margin-top: 2vh;
}

.popup-reservation-container form input {
  margin-bottom: 1vh;
  padding: 2.5px 0 2.5px 5px;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  align-items: center;
  cursor: pointer;
  font-size: x-large;
  column-gap: 5%;
  margin-bottom: 5%;
}

.meal-logo-div {
  margin-left: 5vh;
  height: 100%;
  width: 10vh;
}

header span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20vh;
  cursor: pointer;
  font-size: x-large;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  margin-top: 10vh;
  border: 1px solid rgb(0, 0, 0);
}

/* js classes */

.meal-container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.like-container {
  display: flex;
  justify-content: space-between;
}

.like {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meal-img {
  width: 100%;
  height: 30vh;
}

.meals {
  display: flex;
  column-gap: 15%;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  row-gap: 19px;
  justify-content: space-around;
}

.popup {
  display: none;
  position: fixed;
  background: #fff;
  opacity: 0.9;
  width: 85%;
  height: 85%;
  z-index: 200;
  top: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 4px solid black;
  margin: 5%;
}

.closeBtn {
  display: block;
  float: right;
  height: 25px;
  width: 25px;
  cursor: pointer;
  margin-right: 10px;
}

.popupcontent {
  padding: 25px;
  font-size: larger;
  padding-left: 10%;
  margin: auto;
  text-align: center;

  /* margin-left: 10%; */
}

.detail-flex {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.recipe {
  width: 60%;
  font-size: 15px;
  margin: auto;
}

.instructions {
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
}

.img-large {
  height: 30vh;
  width: 60%;
}

.submitBtn {
  width: 40%;
  margin-left: 20%;
}

.commentText {
  text-align: left;
  padding: 4px;
  height: 100px;
}

#commentDiv {
  margin: auto;
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 40%;
}
