@import url('https://fonts.googleapis.com/css2?family=Combo&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  border: 1px solid rgb(0, 0, 0);
}

.meal-logo-div {
  margin-left: 5vh;
  height: 100%;
  width: 10vh;
}

header span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20vh;
  cursor: pointer;
  font-size: x-large;
}

img {
  width: 100%;
  height: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  margin-top: 78vh;
  border: 1px solid rgb(0, 0, 0);
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  border: 1px solid rgb(0, 0, 0);
}

.meal-logo-div {
  margin-left: 5vh;
  height: 100%;
  width: 10vh;
}

header span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20vh;
  cursor: pointer;
  font-size: x-large;
}

img {
  width: 100%;
  height: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  margin-top: 78vh;
  border: 1px solid rgb(0, 0, 0);
}

.meal-img {
  width: 100%;
  height: 30vh;
}

.meals {
  display: flex;
  column-gap: 15%;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  row-gap: 20px;
}

.meal-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.like-container {
  display: flex;
  justify-content: space-between;
}

.like {
  display: flex;
  flex-direction: column;
  align-items: center;
}
